.btn-back {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 28px;
  height: 28px;
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='14' cy='14' r='14' transform='rotate(-180 14 14)' fill='%233369F3'/%3E%3Crect x='20' y='14.8' width='11' height='1.6' transform='rotate(-180 20 14.8)' fill='white'/%3E%3Cpath d='M13 19L9 14L13 9' stroke='white' stroke-width='1.6'/%3E%3C/svg%3E%0A");
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  max-width: 510px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 25px;

  .avatar-container {
    margin-bottom: 15px;
  }

  .profile-data {
    margin-top: 25px;
    width: 100%;

    input {
      border-bottom: none;
      padding: 0;
    }
  }

  .profile-actions {
    margin-top: 40px;
    width: 100%;
    display: flex;
  }

  .profile-actions.links {
    flex-direction: column;
  }

  .profile-actions.links a {
    padding: 8px 0px;
    border-bottom: solid 1px #EAEAEA;
  }

  .profile-actions.buttons {
    justify-content: center;
  }
}
